{{ attach_library('{{  theme_machine_name }}/{{ component_machine_name }}') }}
<section class="{{ component_machine_name }}">
  <h2 class="{{ component_machine_name }}__heading">{{ heading }}</h2>
  <div class="{{ component_machine_name }}__body">
    {{ body }}
  </div>
</section>
