{
  "name": "{{ machine_name }}",
  "version": "1.0.0",
  "scripts": {
    "build": "gulp",
    "compile": "gulp compile",
    "watch": "gulp watch",
    "styleguide": "gulp styleguide",
    "compress": "gulp compress",
    "lint": "gulp lint",
    "clean": "gulp clean",
    "gulp": "gulp"
  },
  "sasslintConfig": ".sass-lint.yml",
  "babel": {
    "presets": [
      [
        "env",
        {
          "targets": {
            "browsers": [
              "IE >= 11",
              "last 2 versions"
            ]
          }
        }
      ]
    ],
    "plugins": [
      "transform-remove-strict-mode",
      "transform-object-rest-spread",
      "transform-es2015-arrow-functions"
    ]
  },
  "browserslist": [
    "IE >= 11",
    "last 2 versions"
  ],
  "devDependencies": {
    "babel-plugin-transform-es2015-arrow-functions": "^6.22.0",
    "babel-plugin-transform-object-rest-spread": "^6.26.0",
    "babel-plugin-transform-remove-strict-mode": "0.0.2",
    "babel-preset-env": "^1.6.0",
    "browser-sync": "^2.18.12",
    "del": "^3.0.0",
    "gulp": "^3.9.1",
    "gulp-autoprefixer": "^4.0.0",
    "gulp-babel": "^6.1.2",
    "gulp-eslint": "^4.0.0",
    "gulp-imagemin": "^3.3.0",
    "gulp-rename": "^1.2.2",
    "gulp-sass": "^3.1.0",
    "gulp-sass-lint": "^1.3.2",
    "gulp-sourcemaps": "^2.6.0",
    "run-sequence": "^2.0.0",
    "massive-typo": "^0.0.3",
    "koality-flexbox-grid": "^0.0.18",
    "breakpoint-sass": "^2.7.1"
  }
}
