<?php

use \Drupal\Component\Utility\Html;
/**
 * @file
 * Functions to support theming in the {{ machine_name }} theme.
 */

/**
 * Implements hook_preprocess_HOOK() for html.html.twig.
 */
function {{ machine_name }}_preprocess_html(array &$variables) {
  $variables['attributes']['class'][] = 'page-' . $variables['root_path'];
  $current_path = \Drupal::service('path.current')->getPath();
  $current_path_sanitized = str_replace('/', '-', substr($current_path, 1));
  $aliased_path = \Drupal::service('path.alias_manager')->getAliasByPath($current_path);
  $split_path = explode('/', $aliased_path);
  $variables['attributes']['class'][] = 'page-' . $current_path_sanitized;
  foreach ($split_path as $path) {
    $variables['attributes']['class'][] = 'page-' .$path;
  }

  if ($variables['root_path']) {
    $variables['attributes']['class'][] = 'not-front';
  }
  else {
    $variables['attributes']['class'][] = 'front';
  }

  $current_user = \Drupal::currentUser();
  $roles = $current_user->getRoles();
  foreach ($roles as $role) {
    $variables['attributes']['class'][] = 'role-' . $role;
  }
}

/**
 * Implements hook_page_attachments_alter().
 */
function {{ machine_name }}_page_attachments_alter(array &$page) {
  // Tell IE to use latest rendering engine (not to use compatibility mode).
  /*$ie_edge = [
    '#type' => 'html_tag',
    '#tag' => 'meta',
    '#attributes' => [
    'http-equiv' => 'X-UA-Compatible',
    'content' => 'IE=edge',
    ],
  ];
  $page['#attached']['html_head'][] = [$ie_edge, 'ie_edge'];*/
}

/**
 * Implements hook_preprocess_page() for page.html.twig.
 */
function {{ machine_name }}_preprocess_page(array &$variables) {
  $route = \Drupal::routeMatch()->getRouteName();
  if (stripos($route, 'layout_builder.') !== FALSE) {
    $variables['#attached']['library'][] = '{{ machine_name }}/layout-builder-prettier';
  } else {
    // Not a Layout builder route, so let's mark to hide contextual links
    $variables['attributes']['class'][] = 'hide-contextual-links';
  }
}

/**
 * Implements hook_theme_suggestions_page_alter().
 */
function {{ machine_name }}_theme_suggestions_page_alter(array &$suggestions, array $variables) {

}

/**
 * Implements hook_theme_suggestions_node_alter().
 */
function {{ machine_name }}_theme_suggestions_node_alter(array &$suggestions, array $variables) {
  /*$node = $variables['elements']['#node'];

  if ($variables['elements']['#view_mode'] == "full") {

  }*/
}

/**
 * Implements hook_preprocess_HOOK() for Block document templates.
 */
function {{ machine_name }}_preprocess_block(array &$variables) {
  if (isset($variables['content']['#block_content'])) {
    /* @var $block \Drupal\block_content\Entity\BlockContent */
    $block = $variables['content']['#block_content'];
    $type = $block->bundle();
    $variables['block'] = $variables['content']['#block_content'];

    $function = __FUNCTION__ . "_{$type}";
    if (function_exists($function)) {
      $function($variables);
    }
  }
}

/**
 * Implements hook_theme_suggestions_page_alter().
 */
function {{ machine_name }}_theme_suggestions_block_alter(array &$suggestions, array $variables) {
  if (isset($variables['elements']['content']['#block_content']) && !is_null($variables['elements']['content']['#block_content'])) {
   $block_bundle = $variables['elements']['content']['#block_content']->bundle();
   $suggestions[] = 'block__' . $block_bundle;
  }
}

/**
 * Implements hook_theme_suggestions_field_alter().
 */
function {{ machine_name }}_theme_suggestions_field_alter(array &$suggestions, array $variables) {
  /*$element = $variables['element'];
  $suggestions[] = 'field__' . $element['#view_mode'];
  $suggestions[] = 'field__' . $element['#view_mode'] . '__' . $element['#field_name'];*/
}

/**
 * Implements hook_theme_suggestions_field_alter().
 */
function {{ machine_name }}_theme_suggestions_fieldset_alter(array &$suggestions, array $variables) {
  /*$element = $variables['element'];
  if (isset($element['#attributes']['class']) && in_array('form-composite', $element['#attributes']['class'])) {
    $suggestions[] = 'fieldset__form_composite';
  }*/
}

/**
 * Implements hook_preprocess_node().
 */
function {{ machine_name }}_preprocess_node(array &$variables) {
  /* @var \Drupal\node\Entity\Node $node */
  $node = $variables['node'];
  $type = $node->bundle();
  $view_mode = $variables['view_mode'] ?? NULL;

  $variables['attributes']['class'][] = 'node';
  $variables['attributes']['class'][] = 'node__' . Html::cleanCssIdentifier($type);
  if ($view_mode) {
    $variables['attributes']['class'][] = 'node__' . Html::cleanCssIdentifier($type) . '__view_mode_' . Html::cleanCssIdentifier($view_mode);
  }

  $function = __FUNCTION__ . "_{$type}";
  if (function_exists($function)) {
    $function($variables);
  }
}

/**
 * Implements hook_preprocess_paragraph().
 */
function {{ machine_name }}_preprocess_paragraph(array &$variables) {
  /* @var \Drupal\paragraphs\Entity\ParagraphsType $paragraph_type */
  $paragraph_type = $variables['elements']['#paragraph']->getParagraphType();
  $function = __FUNCTION__ . "_{$paragraph_type->id()}";

  if (function_exists($function)) {
    $function($variables);
  }
}

function nazarene_org_preprocess_media(array &$variables) {
  $bundle = $variables['media']->bundle();

  $function = __FUNCTION__ . "_{$bundle}";
  if (function_exists($function)) {
    $function($variables);
  }
}

/**
 * Implements hook_theme_suggestions_views_view_alter().
 */
function {{ machine_name }}_theme_suggestions_views_view_alter(array &$suggestions, array $variables) {

}

/**
 * Implements hook_preprocess_form().
 */
function {{ machine_name }}_preprocess_form(array &$variables) {
  //$variables['attributes']['novalidate'] = 'novalidate';
}

/**
 * Implements hook_preprocess_select().
 */
function {{ machine_name }}_preprocess_select(array &$variables) {
  //$variables['attributes']['class'][] = 'select-chosen';
}

/**
 * Implements hook_preprocess_field().
 */
function {{ machine_name }}_preprocess_field(array &$variables, $hook) {
  /*switch ($variables['element']['#field_name']) {
  }*/
}

/**
 * Implements hook_preprocess_details().
 */
function {{ machine_name }}_preprocess_details(array &$variables) {
  /*$variables['attributes']['class'][] = 'details';
  $variables['summary_attributes']['class'] = 'summary';*/
}

/**
 * Implements hook_theme_suggestions_details_alter().
 */
function {{ machine_name }}_theme_suggestions_details_alter(array &$suggestions, array $variables) {

}

/**
 * Implements hook_preprocess_menu_local_task().
 */
function {{ machine_name }}_preprocess_menu_local_task(array &$variables) {
  //$variables['element']['#link']['url']->setOption('attributes', ['class'=>'rounded']);
}
